body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "ArialRounded", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Varela Rounded";
  src: local("Varela Rounded"),
    url(./fonts/VarelaRound-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ArialRounded";
  src: local("ArialRounded"), url(./fonts/Arial-Rounded.otf) format("opentype");
}
