.clock-btn {
  font-size: 23px;
  text-transform: uppercase;
  border-radius: 8px;
  border: 0px;
  height: 80px;
  width: 220px;
  box-shadow: rgb(142, 142, 142) 0px 6px 0px;
  transition: color 0.5s ease-in-out 0s;
}

.clock-btn-active {
  font-size: 23px;
  text-transform: uppercase;
  border-radius: 8px;
  border: 0px;
  height: 80px;
  width: 220px;
  transform: translateY(6px);
  transition: color 0.5s ease-in-out 0s;
}

.clock-btn:hover {
  cursor: pointer;
}
